                           
.headerBg {                                            
	    background-color: #6559c7;
	    width: 100%;
			}

.logoSize {
	    width:30px;
	    height:30px;
    		}

.navText{
	    color:white;
	    font-size: 20px;
	    font-style: italic;
    		}  

    		          /*For company name*/
.headingText{
	    color:white;
			}

.jumboHeading{
	    text-align: center;
	    font-weight: bold;
	    color: #6559c7;
			}			

.galleryImage{
	    height:250px ;
	    width:350px;
			}

.about{
	    text-align: center;
			}

                    /*for footer alignment and text*/
.foot{
	    background-color:black;
	    color:white;
	    font-weight:normal;
	    font-size: 20px;
	    text-align: center;
			}

.jumbotron{
	    background-color: transparent !important;
	    height: 400px;
        background-size: cover;
			}

#homeJumbotron{
	    background-image: url('../images/edumateBackground.jpg');
			}			
	
                      /*In contact us page*/
.mapSize{
		height: 300px;
		width: 100%;
			}

#contactText{
	    color:#142fea;
			}			

                           /*tag line of company*/
.none {
	font-family: 'Nunito', sans-serif;
            }

.aboutBg{
	background-color: #efe8b0;
            }            