
                           
.headerBg {                                            
	    background-color: #6559c7;
	    width: 100%;
	    height:auto;
	    padding-top: 10px;
	    padding-left:10px;
	    padding-bottom: 20px;
	    padding-right: 0px;
			}


.logoSize {
	    width:30px;
	    height:30px;
	  

    		}
  .navText{
  	font-size: 18px;
  }

.navText:hover{
	    color:blue;
	   font-style: bold;
	    font-style: italic;
	    text-transform:uppercase;
    		}  

    		          /*For company name*/
.headingText{
	    color:white;
			}

.jumboHeading{
	    text-align: center;
	    font-weight: bold;
	    color: #6559c7;
			}			

.galleryImage{
	    height:250px ;
	    width:350px;
	    margin-bottom: 10px;
			}
.galleryImage:hover{

	border: 3px solid blue;

}

.about{
	    text-align: center;
			}

                    /*for footer alignment and text*/
.foot{
	    background-color:black;
	    color:white;
	    font-weight:normal;
	    font-size: 20px;
	    text-align: center;
			}

.jumbotron{
	    background-color: transparent !important;
	    height: 400px;
        background-size: cover;
			}

#homeJumbotron{
	    background-image: url('../images/edumateBackground.jpg');
			}			
	
                      /*In contact us page*/
.mapSize{
		height: 300px;
		width: 100%;
			}

#contactText{
	    color:#142fea;
			}			

                           /*tag line of company*/
.none {
	font-family: 'Nunito', sans-serif;
            }

.aboutBg{
	background-color: #efe8b0;
            }            
.homeBackground {
	background-image:url('../images/edumateBackground.jpg');
	background-repeat: no-repeat;
}
.anu{
	 text-align: center;
}
.map-alignment{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.